# Packer Output
/*.img
/*.img.zip
/*.img.zip.sha256

# Packer Build
/packer_cache/
/build.hwm
/build.pwd
/build.pwi

# Java
.classpath
.project
.settings/

# Binaries
/base/resources/system/detect-video-cards

# Development
/.vscode/
/.idea/
/local/
