@define-color theme_selected_bg_color #87919b;
@define-color theme_selected_fg_color #f0f0f0;

scrollbar button {
    min-width: 12px;
    min-height: 12px;
}

scrollbar slider {
    min-width: 12px;
    min-height: 12px;
}

scrollbar.vertical button.down {
    -gtk-icon-source: -gtk-icontheme("lscroll_d");
}

scrollbar.vertical button.up {
    -gtk-icon-source: -gtk-icontheme("lscroll_u");
}

scrollbar.horizontal button.down {
    -gtk-icon-source: -gtk-icontheme("lscroll_r");
}

scrollbar.horizontal button.up {
    -gtk-icon-source: -gtk-icontheme("lscroll_l");
}

scrollbar.vertical button:disabled.down {
    -gtk-icon-source: -gtk-icontheme("lscroll_d_d");
}

scrollbar.vertical button:disabled.up {
    -gtk-icon-source: -gtk-icontheme("lscroll_u_d");
}

scrollbar.horizontal button:disabled.down {
    -gtk-icon-source: -gtk-icontheme("lscroll_r_d");
}

scrollbar.horizontal button:disabled.up {
    -gtk-icon-source: -gtk-icontheme("lscroll_l_d");
}
